h1 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: 400;
    font-size: 33px;
}

.h1-2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 45px;
}