body {

    font-weight: 400;
}

h1 {
    font-family: 'Chathura', sans-serif;
    font-weight: 400;
    font-size: 32px;
}

.h1-2 {
    font-family: 'Averia Serif Libre', cursive;
    font-style: italic;
    font-weight: 400;
    font-size: 50px;
}