:root {
  --header-font: 'Bungee Shade', cursive;
  --subheader-font: 'Give You Glory', cursive;
  --body-font: 'Open Sans', sans-serif;
  --main-bg-color: #171321;
  --white: #FFFFFF;
  --yellow: #FBE415;
  --green: #289784;
  --grey: #413E49;
  --min-height: 100vh;
}

body {
  margin: 0 auto;
  font-family: var(--body-font);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--white);
  background-color: var(--main-bg-color);
  letter-spacing: 1px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--white);
}

h1 {
  font-family: var(--header-font);
  font-size: 9rem;
  color: var(--white);
  /* text-shadow: 2px 2px 4px #000000; */
  font-weight: 400;
  margin: 0 0;
  line-height: 135%;
}

.first {
  background: linear-gradient(to bottom, var(--yellow), var(--white) 65%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.last {
  text-shadow: 2px 2px 6px #000000;
  text-align: right;
}

h2 {
  font-family: var(--subheader-font);
  font-size: 2.3rem;
  font-weight: 400;
  color: var(--yellow);
  margin: 0;
  padding: 4px 6px;
  height: 45px;
  /* margin-bottom: 45px; */
  text-shadow: 2px 2px 4px #000000;
}

h3 {
  font-family: var(--header-font);
  font-size: 3.3rem;
  font-weight: 400;
  margin: 10px 0;
  background: linear-gradient(to bottom, var(--yellow), var(--white) 72%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

h4 {
  font-family: var(--subheader-font);
  font-size: 2rem;
  font-weight: 400;
  color: var(--yellow);
  margin: 30px 0 22px 0;
  text-align: center;
}

b.boldcolor {
  color: var(--yellow);
  font-size: 1.2rem;
  font-weight: 400;
}

b.welcome {
  font-size: 1.7rem;
}

nav, b.boldcolor {
  font-family: var(--subheader-font);
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5em;
  background-color: transparent;
  position: fixed;
  /* top: 0; */
  /* z-index: 99; */
  /* box-shadow: rgba(0, 0, 0, 0.02) 1px 1px 2px 2px; */
}

@media screen and (min-width: 650px) {
  .header {
    position: absolute;
  }
}

.header__wrap {
  display: flex;
  flex: 0 1 93%;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 44px;
}

.nav {
  display: flex;
  flex: 0 1 65px;
}

@media screen and (min-width: 650px) {
  .nav {
    flex: 0 1 30em;
  }
}

@media screen and (min-width: 650px) {
  .nav:hover .nav__menu {
    flex-direction: row;
  }
}

.nav__btn {
  flex: 0 1 70px;
  font-size: 1.5rem;
  color: var(--white);
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 650px) {
  .nav__btn {
    display: none;
  }
}

.nav__btn:hover {
  color: var(--white);
}

/* .nav__btn:focus {
  outline-color: #289784;
} */

.nav__menu {
  padding: 0;
  margin: 0;
  display: none;
  list-style-type: none;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: -152px;
  width: 150px;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 1px 1px 2px 2px;
          box-shadow: rgba(0, 0, 0, 0.02) 1px 1px 2px 2px;
}

@media screen and (min-width: 650px) {
  .nav__menu {
    display: flex;
    flex: 0 1 30em;
    position: static;
    border: none;
    box-shadow: none;
  }
}

.nav__menu--show {
  display: flex;
  flex-direction: column;
}

.nav__menu-item {
  display: flex;
  flex: 1 1 50px;
  align-items: flex-end;
}

.nav__link {
  display: flex;
  align-items: center;
  flex: 1 1;
  font-size: 1.5rem;
  background-color: transparent;
  padding-left: 20px;
}

@media screen and (min-width: 650px) {
  .nav__link {
    justify-content: center;
    padding-left: 0;
  }
}

.nav__link:hover {
  color: var(--white);
  border-bottom: 2px solid var(--yellow);
}

.nav__link:active {
  color: var(--yellow);
}

/* MAIN */
.section {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.section__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 850px;
  text-align: center;
}

@media screen and (min-width: 650px) {
  .section__wrap {
    text-align: left;
    align-items: stretch;
  }
}

@media screen and (min-width: 650px) {
  .section__wrap--center {
    align-items: center;
  }
}

.text {
  line-height: 1.6em;
}

.home {
  min-height: 100vh;
  align-items: center;
  background-image: linear-gradient(180deg, var(--main-bg-color) 35%, #7A7780);
  padding: 64px 0 0 0;
}

/* .home__text {
  margin-bottom: 45px;
} */

.home__subheaders {
  height: 50px;
  overflow: hidden;
}

.home__subheaders div:first-child {
  animation: flip 8s ease-out 2s 1;
  animation-fill-mode: backwards;
}

@-webkit-keyframes flip {
  0% {
    margin-top: -180px;
  }
  15%, 100% {
    margin-top: 0;
  }
}

@keyframes flip {
  0% {
    margin-top: -180px;
  }
  15%, 100% {
    margin-top: 0;
  }
}

.about {
  padding: 30px 0 60px 0;
  justify-content: center;
  background-image: url(../img/python.svg);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: left -15% bottom 140%;
}

.about__wrap {
  margin-left: 200px;
}

.about__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* max-width: 210px; */
  width: 100%;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

@media screen and (min-width: 650px) {
  .about__content {
    flex-direction: row;
  }
}

.about__github {
  text-align: left;
  width: 100%;
}

.git-history {
  list-style: none;
  line-height: 1.5em;
}

.git-history li::before {
  content: "\2022";
  color: var(--green);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -2em;
  position: absolute;
}

.git-history__commit {
  position: relative;
  margin-bottom: 18px;
}

.git-history__commit-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.git-history__name {
  margin: 0 25px 3px 0;
  font-weight: 600;
  letter-spacing: 1.4px;
  border-bottom: 1px dotted var(--green);
}

.git-history__link {
  margin-bottom: 3px;
}

.git-history__link:hover {
  color: var(--green);
}

.git-history__link:active {
  color: var(--green);
}

.git-history__date {
  font-size: 0.95rem;
}

.git-history__msg {
  font-size: 0.9rem;
}

.contact {
  min-height: 95vh;
  background-image: linear-gradient(0deg, var(--main-bg-color) 65%, var(--grey));
}

.contact__text {
  text-align: center;
  width: 80%;
}

.contact__text p {
  margin: 0 0 45px 0;
}

.form {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 7fr 1fr;
  gap: 15px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "name email"
    "subj subj"
    "msg msg"
    "submit .";
}

@media screen and (max-width: 650px) {
  .form {
    grid-template-rows: 1fr 1fr 1fr 7fr 1fr;
    grid-template-areas:
      "name name"
      "email email"
      "subj subj"
      "msg msg"
      "submit .";
  }
}

.email { grid-area: email; }

.name { grid-area: name; }

.subj { grid-area: subj; }

.msg { grid-area: msg; }

.submit { grid-area: submit; }


.form__field {
  width: 100%;
  padding: 8px 10px;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid var(--grey);
  font-family: var(--body-font);
}

.form__field--mask {
  display: none;
}

.form__field--invalid {
  border: 1px solid #ff0000;
}

.form__field--flash {
  color: #ff0000;
}

.form__field:focus {
  border: 1px solid var(--green);
  outline: none;
}

.form__field:not(:placeholder-shown):invalid {
  border: 1px solid #ff0000;
}

.form__alert {
  color: var(--green);
  font-weight: 600;
  margin-right: 30px;
}

.form__submit {
  text-align: left;
}

.form__submit-btn {
  border: 1px solid var(--yellow);
  background-color: transparent;
  color: var(--white);
  padding: 8px 25px;
  border-radius: 3px;
  font-family: var(--body-font);
  font-size: 95%;
  /* box-shadow: 5px 5px hsl(0deg 0% 100% / 20%); */
}

.form__submit-btn:hover {
  background-color: var(--green);
  border: none;
}

.form__submit-btn:active {
  background-color: var(--grey);
  border: none;
}

label {
  display: none;
}

::placeholder {
  color: var(--green);
}

/* FOOTER */
.foot {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  color: var(--white);
  background-color: var(--grey);
}

.foot__wrap {
  display: flex;
  justify-content: space-between;
  flex: 0 1 40%;
}

@media screen and (max-width: 800px) {
  .foot__wrap {
    flex: 1 1 auto;
    justify-content: space-around;
  }
}

.foot__links {
  align-self: center;
}

.foot__links a {
  color: var(--white);
  font-size: 1.4rem;
  padding: 5px 12px;
}

.foot__copyright {
  align-self: center;
}

.foot__links a:hover, .foot__site-github a:hover {
  color: var(--green);
}