:root {
  --header-font: 'Bungee Shade', cursive;
  --subheader-font: 'Give You Glory', cursive;
  --body-font: 'Open Sans', sans-serif;
  --main-bg-color: #171321;
  --white: #FFFFFF;
  --yellow: #FBE415;
  --placeholder-color: #4F4C57;
  --min-height: 100vh;
}

body {
  margin: 0 auto;
  font-family: var(--body-font);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--white);
  background-color: var(--main-bg-color);
}

*, *:before, *:after {
  box-sizing: border-box;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--white);
}

h1 {
  font-family: var(--header-font);
  font-size: 7em;
  letter-spacing: 4px;
  color: var(--white);
  text-shadow: 2px 2px 4px #000000;
  /* font-weight: 600; */
  margin: 0 0;
}

h2 {
  font-family: var(--subheader-font);
  font-size: 1.5em;
  /* font-weight: 500; */
  color: var(--yellow);
  margin: 0;
  padding: 4px 6px;
  height: 45px;
  margin-bottom: 45px;
  text-shadow: 2px 2px 4px #000000;
}

h3 {
  font-family: var(--header-font);
  font-size: 1.7em;
  color: var(--yellow);
  margin-top: 13px;
}

h4 {
  font-family: var(--subheader-font);
  font-size: 1.3em;
  color: var(--yellow);
}

.fa-sm {
  font-size: 1.7em !important;
  color: #37c8ab;
  text-shadow: 0 0.5px 0.5px #289784;
}

b.boldcolor {
  color: var(--yellow);
  font-size: 1em;
}

nav, b.boldcolor {
  font-family: var(--subheader-font);
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4em;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.02) 1px 1px 2px 2px;
  z-index: 99;
}

.header__wrap {
  display: flex;
  flex: 0 1 95%;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 44px;
}

.nav {
  display: flex;
  flex: 0 1 65px;
}

@media screen and (min-width: 650px) {
  .nav {
    flex: 0 1 25em;
  }
}

@media screen and (min-width: 650px) {
  .nav:hover .nav__menu {
    flex-direction: row;
  }
}

.nav__btn {
  flex: 0 1 70px;
  font-size: 1.5em;
  color: #000000;
  background-color: #ffffff;
  border: none;
}

@media screen and (min-width: 650px) {
  .nav__btn {
    display: none;
  }
}

.nav__btn:hover {
  color: var(--white);
  background-color: #37c8ab;
}

.nav__btn:focus {
  outline-color: #37c8ab;
}

.nav__menu {
  padding: 0;
  margin: 0;
  display: none;
  list-style-type: none;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: -152px;
  width: 150px;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 1px 1px 2px 2px;
          box-shadow: rgba(0, 0, 0, 0.02) 1px 1px 2px 2px;
}

@media screen and (min-width: 650px) {
  .nav__menu {
    display: flex;
    flex: 0 1 25em;
    position: static;
    border: none;
    box-shadow: none;
  }
}

.nav__menu--show {
  display: flex;
  flex-direction: column;
}

.nav__menu-item {
  display: flex;
  flex: 1 1 50px;
}

.nav__link {
  display: flex;
  align-items: center;
  flex: 1 1;
  font-size: 1.1em;
  background-color: #ffffff;
  padding-left: 20px;
}

@media screen and (min-width: 650px) {
  .nav__link {
    justify-content: center;
    padding-left: 0;
  }
}

.nav__link:hover {
  color: var(--white);
  background-color: #37c8ab;
}

.nav__link:active {
  color: #000000;
  background-color: #ebebeb;
}

/* MAIN */
.section {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.section__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 650px;
  text-align: center;
}

@media screen and (min-width: 650px) {
  .section__wrap {
    text-align: left;
    align-items: stretch;
  }
}

@media screen and (min-width: 650px) {
  .section__wrap--center {
    align-items: center;
  }
}

.text {
  line-height: 1.4em;
  font-size: 16.5px;
}

.home {
  min-height: 45vh;
  align-items: flex-end;
  background-image: linear-gradient(-180deg, var(--main-bg-color), var(--white));
  padding: 64px 0 0 0;
}

.home__text {
  margin-bottom: 45px;
}

.home__subheaders {
  height: 50px;
  overflow: hidden;
}

.home__subheaders div:first-child {
  animation: flip 8s ease-out 2s 1;
  animation-fill-mode: backwards;
}

@-webkit-keyframes flip {
  0% {
    margin-top: -180px;
  }
  8%, 50% {
    margin-top: -90px;
  }
  58%, 100% {
    margin-top: 0;
  }
}

@keyframes flip {
  0% {
    margin-top: -180px;
  }
  8%, 50% {
    margin-top: -90px;
  }
  58%, 100% {
    margin-top: 0;
  }
}

.about {
  padding-right: 20px;
  padding-left: 20px;
}

.about__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 210px;
  width: 100%;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

@media screen and (min-width: 650px) {
  .about__content {
    flex-direction: row;
  }
}

.about__tools {
  color: #289784;
  width: 100%;
  max-width: 400px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (min-width: 650px) {
  .about__tools {
    justify-content: center;
  }
}

.about__github {
  text-align: left;
  width: 100%;
}

.about__icon-set {
  display: flex;
  flex-direction: column;
}

.about__icon {
  font-size: 3em;
  padding: 20px 20px 10px 20px;
}

.about__icon-text {
  text-align: center;
  font-size: 80%;
}

.git-history {
  list-style: none;
}

.git-history li::before {
  content: "\2022";
  color: #37c8ab;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -2em;
  position: absolute;
}

.git-history__commit {
  position: relative;
  margin-bottom: 18px;
}

.git-history__commit-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.git-history__name {
  margin: 0 25px 3px 0;
  font-weight: 600;
  letter-spacing: 1.4px;
  border-bottom: 1px dotted #289784;
}

.git-history__link {
  margin-bottom: 3px;
}

.git-history__link:hover {
  color: #289784;
}

.git-history__link:active {
  color: #289784;
}

.git-history__date {
  font-size: 0.95em;
}

.git-history__msg {
  font-size: 0.9em;
}

.contact__text {
  text-align: center;
  width: 80%;
}

.contact__text p {
  margin-top: 0;
}

.contact__form {
  padding-top: 30px;
  width: 80%;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__set {
  margin: 4px 0 17px;
}

.form__set:nth-child(6) {
  margin: 0;
}

.form__field {
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #D1D1D1;
  font-family: var(--body-font);
}

.form__field--mask {
  display: none;
}

.form__field--invalid {
  border: 1px solid #ff0000;
}

.form__field--flash {
  color: #ff0000;
}

.form__field:focus {
  border: 1px solid #37c8ab;
  outline: none;
}

.form__field:not(:placeholder-shown):invalid {
  border: 1px solid #ff0000;
}

.form__field:not(:-ms-input-placeholder):invalid {
  border: 1px solid #ff0000;
}

.form__submit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form__alert {
  color: #09c738;
  font-weight: 600;
  margin-right: 30px;
}

.form__submit-btn {
  border: none;
  background-color: #333333;
  transition-duration: 0.2s;
  color: var(--white);
  padding: 10px 25px;
  margin: 5px;
  border-radius: 2px;
  font-family: var(--body-font);
  font-weight: 600;
  font-size: 80%;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.form__submit-btn:hover {
  background-color: #37c8ab;
}

.form__submit-btn:active {
  background-color: #333333;
}

label {
  display: none;
}

::-webkit-input-placeholder {
  color: #289784;
}

:-ms-input-placeholder {
  color: #289784;
}

::-ms-input-placeholder {
  color: #289784;
}

::placeholder {
  color: #289784;
}

/* FOOTER */
.foot {
  width: 100%;
  min-height: 65px;
  display: flex;
  justify-content: center;
  color: var(--white);
  background-color: #289784;
}

.foot__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.foot__links {
  align-self: center;
}

.foot__links a {
  color: var(--white);
  font-size: 1.4em;
  padding: 5px 12px;
}

.foot__copyright {
  align-self: center;
}

.foot__links a:hover, .foot__site-github a:hover {
  color: #333333;
}
/*# sourceMappingURL=style.css.map */