body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333333;
}
*, *:before, *:after {
    box-sizing: border-box;
}
a:link, a:visited {
    text-decoration: none;
    color: #000000;
}
h1 {
    font-size: 5em;
    letter-spacing: 4px;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    font-weight: 600;
    margin: 0px 0;
}
h2 {
    font-size: 1.5em;
    margin: 0;
    padding:4px 0px;
    height:45px;
    margin-bottom:45px;
}
#alt-headers {
    height:50px;
    overflow:hidden;
}
#alt-headers div:first-child {
    animation: flip 8s ease-out 2s 1;
    animation-fill-mode: backwards;
}
@keyframes flip {
    0% {margin-top:-180px;}
    8% {margin-top:-90px;}
    50% {margin-top:-90px;}
    58% {margin-top:0px;}
    100% {margin-top:0px;}
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    color: #289784;
    margin-top: 12px;
}
.fa-sm {
    font-size: 1.7em !important;
    color: #37c8ab;
}
hr {
    border: 0;
    border-top: 1px solid #eee;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4em;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.02) 1px 1px 2px 2px;
    z-index: 99;
}
.logo {
    display: flex;
}
.logo img {
    width: 42px;
}
.header-nav {
    display: flex;
    flex: 0 1 95%;
    justify-content: space-between;
}
nav {
    display: flex;
    flex: 0 1 65px;
}
nav .dropdown {
    flex: 0 1 70px;
    font-size: 1.5em;
    color: #000000;
    background-color: #ffffff;
    border: none;
}
nav .dropdown:hover {
    color: #ffffff;
    background-color: #37c8ab;
}
nav:hover #nav-links {
    display: flex;
    flex-direction: column;
}
#nav-links {
    padding: 0;
    margin: 0;
    display: none;
    list-style-type: none;
    position: absolute;
    z-index: 1;
    right: 0px;
    bottom: -152px;
    width: 150px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 1px 1px 2px 2px;
}
.link {
    display: flex;
    flex: 1 1 50px;
}
.link a {
    display: flex;
    align-items: center;
    flex: 1 1;
    font-size: 1.1em;
    background-color: #ffffff;
    padding-left: 20px;
}
.link a:hover {
    color: #ffffff;
    background-color: #37c8ab;
  }
.link a:active {
    color: #000000;
    background-color: #ebebeb;
}

@media screen and (min-width: 650px) {
    nav {
        flex: 0 1 25em;
    }
    nav:hover #nav-links {
        flex-direction: row;
    }
    nav .dropdown {
        display: none;
    }
    #nav-links {
        display: flex;
        flex: 0 1 25em;
        position: static;
        border: none;
        box-shadow: none;
    }
    .link a {
        justify-content: center;
        padding-left: 0;
    }
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    flex: 1;
}
section {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}
.section-wrap {
    flex: 0 1 550px;
}

#home {
    height: 45vh;
    display: flex;
    align-items: flex-end;
    /* background-color: #37c8ab; */
    background-image: linear-gradient(-90deg, #35cece, #37c8ab);
    padding: 64px 0 0 0;
}
.welcome-text {
    margin-bottom: 45px;
}

#about {
    background-color: #ffffff;
    flex: 1 1;
}
.content {
    display: flex;
    flex-direction: column;
}
.mytools {
    /* background-color: #289784; */
    color: #289784;
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.mytools i {
    font-size: 3em;
    padding: 20px 20px 10px 20px;
}
.tool-text {
    text-align: center;
    font-size: 80%;
}
@media screen and (min-width: 450px) {
    .content {
        flex-direction: row;
    }
}

#contact {
    display: flex;
    background-color: #efefef;
}
#c-wrap {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.contact-form {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    width: 85%;
}
label {
    display: none;
}
.field {
    padding: 10px 10px;
    margin: 4px 0px 17px;
    font-size: 16px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #D1D1D1;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.field:focus {
    border: 1px solid #37c8ab;
}

::placeholder {
    color: #289784;
}

.submit {
    border: none;
    background-color: #333333;
    color: #ffffff;
    padding: 10px 30px;
    margin: 5px;
    align-self: flex-end;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 80%;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.submit:hover {
    background-color: #37c8ab;
}
.submit:active {
    background-color: #333333;
}
#fieldhoney {
    display: none;
}

/* FOOTER */
footer {
    width: 100%;
    flex: 0 1 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #ffffff;
    background-color: #289784;
}
.site-github {
    align-self: center;
    font-size: 90%;
    font-weight: 600;
}
.site-github a {
    color: #ffffff;
}
.foot-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.link-icons a {
    color: #ffffff;
    font-size: 1.25em;
    padding: 0 5px;
}
.link-icons a:hover, .site-github a:hover {
    color: #333333;
}
.copyright {
    padding-left: 15px
}