body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
*, *:before, *:after {
    box-sizing: border-box;
}
a:link, a:visited {
    text-decoration: none;
    color: #000000;
}
h1 {
    font-weight : 500;
    font-size: 5em;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    margin-bottom: 35px;
}

/* HEADER */
header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4em;
    padding: 0 2em 0 2em;
    background-color: #ffffff;
    border-bottom: 1px solid black;
}
.logo {
    display: flex;
}
.logo img {
    width: 45px;
}
.header-nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
nav {
    display: flex;
    flex: 0 1 65px;
}
nav button {
    flex: 0 1 70px;
    font-size: 1.5em;
    color: #000000;
    background-color: #ffffff;
    border: none;
}
nav button:hover {
    color: #ffffff;
    background-color: #37c8ab;
}
nav:hover #nav-links {
    display: flex;
    flex-direction: column;
}
#nav-links {
    padding: 0;
    margin: 0;
    display: none;
    list-style-type: none;
    position: absolute;
    z-index: 1;
    right: 0px;
    bottom: -152px;
    width: 150px;
    border: 1px solid #000000;
}
.link {
    display: flex;
    flex: 1 1 50px;
}
.link a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    font-size: 1.2em;
}
.link a:hover {
    color: #ffffff;
    background-color: #37c8ab;
  }

@media screen and (min-width: 650px) {
    nav {
        flex: 0 1 25em;
    }
    nav:hover #nav-links {
        flex-direction: row;
    }
    nav button {
        display: none;
    }
    #nav-links {
        display: flex;
        flex: 0 1 25em;
        position: static;
        border: none;
    }
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    flex: 1;
}
section {
    display: flex;
    justify-content: center;
    padding: 0;
}
.section-wrap {
    flex: 0 1 550px;
}

#home {
    height: 45vh;
    display: flex;
    align-items: flex-end;
    background-color: #ffffff;
}

#about {
    background-color: #efefef;
    flex: 1 1 250px;
}

#contact {
    display: flex;
    background-color: #efefef;
}

.emailform {
    display: flex;
    flex-direction: column;
}
label {
    display: none;
}
.field {
    padding: 6px 10px;
    margin: 4px 0px 17px;
    font-size: 16px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #D1D1D1;
    font-family: 'Montserrat', sans-serif;
}
.field:focus {
    border: 1px solid #37c8ab;
}
.submit {
    border: none;
    background-color: #333333;
    color: #ffffff;
    padding: 9px 15px;
    margin: 5px;
    align-self: flex-end;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
}
.submit:hover {
    background-color: #37c8ab;
}

/* FOOTER */
footer {
    width: 100%;
    text-align: center;
    background-color: #ffffff;
}