body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
*, *:before, *:after {
    box-sizing: border-box;
}
a:link, a:visited {
    text-decoration: none;
    color: #000000;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4em;
    padding: 0 2em 0 2em;
    background-color: #ffffff;
    border-bottom: 1px solid black;
}
.logo {
    display: flex;
}
.logo img {
    width: 45px;
}
nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
#nav-links {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    flex: 0 1 25em;
}
.link {
    display: flex;
    flex: 1 1;
}
.link a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    font-size: 1.2em;
}
.link a:hover {
    color: #ffffff;
    background-color: #37c8ab;
  }
main {
    display: flex;
    flex-direction: column;
    flex: 1;
}
section {
    padding: 0% 30% 0% 30%;
}
#home {
    height: 45vh;
    display: flex;
    align-items: flex-end;
    background-color: #ffffff;
}
.title-name {
    font-weight : 500;
    font-size: 5em;
}
#about {
    background-color: #efefef;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #ffffff;
}