$font-header-color: #ffffff;
$font-header-alt-color: #289784;
$font-body-color: #333333;
$font-bold-color: #289784;
$font-alt-color: #289784;
$font-light-color: #ffffff;
$font-family-main: 'Nunito', sans-serif;
$font-family-alt: 'Montserrat', sans-serif;

$btn-main-color: #333333;
$btn-font-color: #ffffff;
$btn-hover-color: #37c8ab;
$btn-hover-font-color: $btn-font-color;
$invert-btn-color: $btn-font-color;
$invert-btn-font-color: $btn-main-color;

$link-color: #289784;
$link-dark-color: #333333;
$link-light-color: #ffffff;
$link-color-active: #333333;
$link-color-visited: #333333;
$link-color-hover: #333333;

$red-fail: #ff0000;
$green-success: #09c738;

$bg-primary-color: #37c8ab;
$bg-secondary-color: #289784;
$bg-body-color: #ffffff;
$bg-section-color: #efefef;
$bg-section-alt-color: #289784;
$bg-light-color: #efefef;
$bg-dark-color: #333333;

$brand-color: #37c8ab;
$brand-success-color: $brand-color;
$brand-error-color: $brand-color;
$brand-warning-color: $brand-color;
$brand-info-color: $brand-color;


body {
    margin: 0 auto;
    font-family: $font-family-main;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: $font-body-color;
    background-color: $bg-body-color;
}
*, *:before, *:after {
    box-sizing: border-box;
}
a:link, a:visited {
    text-decoration: none;
    color: $link-dark-color;
}
h1 {
    font-family: $font-family-alt;
    font-size: 5em;
    letter-spacing: 4px;
    color: $font-header-color;
    text-shadow: 2px 2px 4px #000000;
    font-weight: 600;
    margin: 0 0;
}
h2 {
    font-family: $font-family-alt;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
    padding:4px 6px;
    height:45px;
    margin-bottom:45px;
    text-shadow: 2px 2px 4px $font-header-alt-color;
}
h3 {
    font-family: $font-family-alt;
    font-size: 1.7em;
    color: $font-header-alt-color;
    margin-top: 13px;
}
h4 {
    font-family: $font-family-alt;
    font-size: 1.2em;
    color: $font-header-alt-color;
}
.fa-sm {
    font-size: 1.7em !important;
    color: $brand-color;
    text-shadow: 0 0.5px 0.5px $font-bold-color;
}
hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 8px 0 0 0;
    width: 100%;
}
b.green {
    color: $font-bold-color;
    font-size: 1em;
}
nav, b.green {
    font-family: $font-family-alt;
}


/* HEADER */
.header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4em;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.02) 1px 1px 2px 2px;
    z-index: 99;

    &__wrap {
        display: flex;
        flex: 0 1 95%;
        justify-content: space-between;
    }
}

.logo {
    display: flex;
    align-items: center;

    &__img {
        width: 44px;
    }
}

.nav {
    display: flex;
    flex: 0 1 65px;
    @media screen and (min-width: 650px) {
        flex: 0 1 25em;
    }

    &:hover .nav__menu {
        @media screen and (min-width: 650px) {
            flex-direction: row;
        }
    }

    &__btn {
        flex: 0 1 70px;
        font-size: 1.5em;
        color: #000000;
        background-color: #ffffff;
        border: none;
        @media screen and (min-width: 650px) {
            display: none;
        }
        &:hover {
            color: $btn-hover-font-color;
            background-color: $bg-primary-color;
        }
        &:focus {
            outline-color: $bg-primary-color;
        }
    }

    &__menu {
        padding: 0;
        margin: 0;
        display: none;
        list-style-type: none;
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: -152px;
        width: 150px;
        border: 1px solid #ebebeb;
        box-shadow: rgba(0, 0, 0, 0.02) 1px 1px 2px 2px;
        @media screen and (min-width: 650px) {
            display: flex;
            flex: 0 1 25em;
            position: static;
            border: none;
            box-shadow: none;
        }
        &--show {
            display: flex;
            flex-direction: column;
        }
    }

    &__menu-item {
        display: flex;
        flex: 1 1 50px;
    }

    &__link {
        display: flex;
        align-items: center;
        flex: 1 1;
        font-size: 1.1em;
        background-color: #ffffff;
        padding-left: 20px;
        @media screen and (min-width: 650px) {
            justify-content: center;
            padding-left: 0;
        }
        &:hover {
            color: $link-light-color;
            background-color: $bg-primary-color;
        }
        &:active {
            color: #000000;
            background-color: #ebebeb;
        }
    }
}

/* MAIN */
.section {
    display: flex;
    justify-content: center;
    padding: 40px 0;

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 1 650px;
        text-align: center;
        @media screen and (min-width: 650px) {
            text-align: left;
            align-items: stretch;
        }
        &--center {
            @media screen and (min-width: 650px) {
                align-items: center; 
            }
        }
    }
}

.text {
    line-height: 1.4em;
    font-size: 16.5px;
}

.home {
    min-height: 45vh;
    align-items: flex-end;
    background-image: linear-gradient(-90deg, #35cece, $bg-primary-color);
    padding: 64px 0 0 0;

    &__text {
        margin-bottom: 45px;
    }

    &__subheaders {
        height:50px;
        overflow:hidden;
        div:first-child {
            -webkit-animation: flip 8s ease-out 2s 1;
                    animation: flip 8s ease-out 2s 1;
            -webkit-animation-fill-mode: backwards;
                    animation-fill-mode: backwards;
        }
    }
}

@-webkit-keyframes flip {
    0% {margin-top:-180px;}
    8%, 50% {margin-top:-90px;}
    58%, 100% {margin-top:0;}
}
@keyframes flip {
    0% {margin-top:-180px;}
    8%, 50% {margin-top:-90px;}
    58%, 100% {margin-top:0;}
}

.about {
    padding-right: 20px;
    padding-left: 20px;

    &__header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 210px;
        width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        @media screen and (min-width: 650px) {
            flex-direction: row;
        }
    }

    &__tools {
        color: $font-bold-color;
        width: 100%;
        max-width: 400px;
        align-self: center;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__github {
        text-align: left;
        width: 100%;
    }

    &__icon-set {
        display: flex;
        flex-direction: column;
    }

    &__icon {
        font-size: 3em;
        padding: 20px 20px 10px 20px;
    }

    &__icon-text {
        text-align: center;
        font-size: 80%;
    }
}

.git-history {
    list-style: none;
    li::before {
        content: "\2022";
        color: $brand-color;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -2em;
        position: absolute;
    }

    &__commit {
        position: relative;
        margin-bottom: 18px;
    }
    &__commit-header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__name {
        margin: 0 25px 3px 0;
        font-weight: 600;
        border-bottom: 1px dotted;
    }
    &__link {
        margin-bottom: 3px;
        &:hover {
            color: $link-color;
        }
        &:active {
            color: $link-color;
        }
    }
    &__date {
        font-size: 0.95em;
    }
    &__msg {

    }
}

.contact {
    background-color: $bg-section-color;

    &__text {
        text-align: center;
        width: 80%;
        p {
            margin-top: 0;
        }
    }

    &__form {
        padding-top: 30px;
        width: 80%;
    }

}

.form {
    display: flex;
    flex-direction: column;

    &__set {
        margin: 4px 0 17px;
        &:nth-child(6) {
            margin: 0;
        }
    }

    &__field {
        width: 100%;
        padding: 10px 10px;
        font-size: 16px;
        border-radius: 3px;
        border: 1px solid #D1D1D1;
        font-family: $font-family-main;
        &--mask {
            display: none;
        }
        &--invalid {
            border: 1px solid $red-fail;
        }
        &--flash {
            color: $red-fail;
        }
        &:focus {
            border: 1px solid $bg-primary-color;
            outline: none;
        }
        &:not(:placeholder-shown):invalid {
            border: 1px solid $red-fail;
        }
        &:not(:-ms-input-placeholder):invalid {
            border: 1px solid $red-fail;
        }
    }

    &__submit {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__alert {
        color: $green-success;
        font-weight: 600;
        margin-right: 30px;
    }

    &__submit-btn {
        border: none;
        background-color: $btn-main-color;
        transition-duration: 0.2s;
        color: $btn-font-color;
        padding: 10px 25px;
        margin: 5px;
        border-radius: 2px;
        font-family: 'Montserrat', "Font Awesome 5 Free", sans-serif;
        font-weight: 600;
        font-size: 80%;
        text-transform: uppercase;
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
        &:hover {
            background-color: $btn-hover-color;
        }
        &:active {
            background-color: $btn-main-color;
        }
    }
}

label {
    display: none;
}

::placeholder {
    color: $bg-secondary-color;
}


/* FOOTER */
.foot {
    width: 100%;
    min-height: 65px;
    display: flex;
    justify-content: center;
    color: $font-light-color;
    background-color: $bg-secondary-color;

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__links {
        align-self: center;
        a {
            color: $link-light-color;
            font-size: 1.4em;
            padding: 5px 12px;
        }
    }

    &__copyright {
        align-self: center;
    }
}

.foot__links a:hover, .foot__site-github a:hover {
    color: $link-color-hover;
}

