<footer class="foot">
        <div class="foot__wrap">
            <div class="foot__copyright">
                <small>&copy; 2021 Nicole Bracy</small>
            </div>
            <div class="foot__links">
                <a href="https://twitter.com/bracyne" class="foot__link-twitter" title="My Twitter" target="_blank"><img src="{{ url_for('static', filename='img/twitter.svg', _external=True, _scheme='https') }}" alt="Twitter logo"></a>
                <a href="https://github.com/nebracy" class="foot__link-github" title="My GitHub" target="_blank"><img src="{{ url_for('static', filename='img/github.svg', _external=True, _scheme='https') }}" alt="GitHub Logo"></a>
                <a href="https://www.linkedin.com/in/nicole-bracy/" class="foot__link-linkedin" title="My LinkedIn Profile" target="_blank"><img src="{{ url_for('static', filename='img/linkedin.svg', _external=True, _scheme='https') }}" alt="LinkedIn logo"></a>
            </div>
        </div>
    </footer>