<header class="header">
        <div class="header__wrap">
            <div class="logo"><img src="{{ url_for('static', filename='img/logo.svg', _external=True, _scheme='https') }}" alt="Nicole Bracy's website logo" class="logo__img"></div>
            <nav class="header__nav nav">
                <button id="dropbtn" class="nav__btn">
                    <svg id="hamburger" class="nav__hamburger" width="32" stroke-width="1.7" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path class="line line1" d="M3 5H21" stroke-linecap="round" stroke-linejoin="round"/>
                        <path class="line line2" d="M3 12H21" stroke-linecap="round" stroke-linejoin="round"/>
                        <path class="line line3" d="M3 19H21" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                <ul id="dropdown" class="nav__menu">
                    <li class="nav__menu-item"><a href="#home" class="nav__link">Home</a></li>
                    <li class="nav__menu-item"><a href="#about" class="nav__link">About</a></li>
                    <li class="nav__menu-item"><a href="#contact" class="nav__link">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>