{% extends "layout.html" %}
{% from "macros.html" import render_field, render_submit, recent_commits %}
{% block body %}
    {% include 'header.html' %}
    <main>
        <section id="home" class="home section">
            <div class="section__wrap">
                <div class="home__text">
                    <h2>Hello, I am</h2>
                    <h1 class="first">Nicole</h1>
                    <h1 class="last">Bracy</h1>
                    <div class="home__subheaders">
                        <div><h2>Welcome to my website</h2></div>
                    </div>
                </div>
            </div>
        </section>
        <section id="about" class="about section">
            <div class="section__wrap">
                <div class="about__header">
                    <h3>About Me</h3>
                </div>
                <div class="about__content">
                    <div class="about__text text">
                        <p><b class="boldcolor" id="welcome">Welcome! </b>This site was built using Python and HTML/CSS to showcase and demo my finished Python projects, and practice various web development skills. Learning more about DevOps is one of my main goals for the near future as well.</p>
                        <p>I'm always eager to gain hands-on experience and try new tools, software, and frameworks. This is a basic Flask website right now, but I will be adding more features and pages so please check back soon!</p>
                    </div>
                    <div class="about__tools">
                        <span class="about__icon-set"><i class="fab fa-html5 about__icon"></i><span class="about__icon-text">HTML5</span></span>
                        <span class="about__icon-set"><i class="fab fa-css3-alt about__icon"></i><span class="about__icon-text">CSS3</span></span>
                        <span class="about__icon-set"><i class="fab fa-python about__icon"></i><span class="about__icon-text">Python</span></span>
                    </div>
                </div>
                <div class="about__github">
                    <h4>Recent Commits</h4>
                    <ul class="git-history">
                        {{ recent_commits(commits) }}
                    </ul>
                </div>
            </div>
        </section>
        <section id="contact" class="contact section">
            <div class="section__wrap section__wrap--center">
                <h3>Contact Me</h3>
                <div class="contact__text text">
                    <p>Thanks for visiting my website!<br>You can reach me directly at <b class="boldcolor">contact@nebracy.com</b> or by filling out the form below.</p>
                </div>
                <form action="" method="post" id="contact_form" class="contact__form form">
                    {{ form.hidden_tag() }}
                    {{ render_field(form.name, class="form__field", placeholder="Name", maxlength="75") }}
                    {{ render_field(form.email, class="form__field", placeholder="Email", type="email", maxlength="255") }}
                    {{ render_field(form.subj, class="form__field", placeholder="Subject", maxlength="75") }}
                    {{ render_field(form.msg, class="form__field", placeholder="Message", rows="13", maxlength="2000") }}
                    {{ render_submit(form.submit, class="form__submit-btn") }}
                </form>
            </div>
         </section>
    </main>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/script.js', _external=True, _scheme='https') }}"></script>
{% endblock body %}
