<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    {% if config == 'Production' %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-200018834-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-200018834-1');
    </script>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Nicole Bracy | {{ title }}{% endblock title %}</title>
    {% block desc %}
    <meta name="description" content="Nicole Bracy's personal website and sandbox showcasing a portfolio of mostly Python web apps and other projects.">
    {% endblock desc %}
    <meta name="author" content="Nicole Bracy">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme='https') }}">
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', _external=True, _scheme='https') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Give+You+Glory&family=Thasadith&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    {% endblock styles %}
    {% block script %}
    <script defer src="{{ url_for('static', filename='js/script.js', _external=True, _scheme='https') }}"></script>
    {% endblock script %}
{% endblock head %}
</head>
<body>
    {% block body %}{% endblock body %}
</body>
</html>
