<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Nicole Bracy | {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nicole Bracy's personal website and sandbox showcasing a portfolio of mostly Python web apps and other projects.">
    <meta name="author" content="Nicole Bracy">
    <meta name="keywords" content="Nicole Bracy, resume, personal website, portfolio, python, html, css, javascript, ansible, linux">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico', subdomain=subdomain, _external=True) }}">
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', subdomain=subdomain, _external=True) }}">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Nunito" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome/css/all.min.css', subdomain=subdomain, _external=True) }}">
    {% endblock styles %}
    {% endblock head %}
</head>
<body>
    {% block body %}{% endblock body %}
</body>
</html>
