{%- macro render_field(field) -%}
    <div class="form__set {{field.name }}">
        {{ field.label }}
        {{ field(**kwargs)|safe }}
        <div id="{{ field.id }}_flash" class="form__field--flash">
            {% if field.errors %}
            {% for error in field.errors %}
                <span>{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{%- endmacro -%}


{% macro render_submit(field) %}
    <div class="form__submit">
        {{ field(**kwargs)|safe }}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="form__alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{% endmacro %}


{% macro recent_commits(commits) %}
    {% for commit in commits %}
    <li class="git-history__commit">
        <div class="git-history__commit-header">
            <span class="git-history__name">
                <a class="git-history__link" href="{{ commit.url }}">{{ commit.name }}</a>
            </span>
            <span class="git-history__date">
                {{ commit.date.strftime('%b. %d, %Y') }}
            </span>
        </div>
        <div class="git-history__msg">
            {{ commit.msg }}
        </div>
    </li>
    {% else %}
    <li class="git-history__commit"><em>No recent github activity :(</em></li>
    {% endfor %}
{% endmacro %}