<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nicole Bracy | {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nicole Bracy's personal website and sandbox showcasing a portfolio of mostly Python web apps and other projects.">
    <meta name="author" content="Nicole Bracy">
    <meta name="keywords" content="Nicole Bracy, resume, personal website, portfolio, Python, HTML, CSS, Linux, AWS">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme='https') }}">
</head>
<body>
    <h1>NY Pizza Dough Calculator</h1>
</body>
</html>