{%- macro render_field(field) -%}
    <div class="form__set">
        {{ field.label }}
        {{ field(**kwargs)|safe }}
        {% if field.errors %}
            <div class="form__field--flash">
                {% for error in field.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{%- endmacro -%}


{% macro render_submit(field) %}
    <div class="form__submit">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="form__alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {{ field(**kwargs)|safe }}
    </div>
{% endmacro %}


{% macro recent_commits(commits) %}
    {% for commit in commits %}
    <li class="">
        <div class="">
            <a href="{{ commit['url'] }}">{{ commit['name'] }}</a> {{ commit['date'].strftime('%b. %d, %Y') }}<br>{{ commit['msg'] }}
        </div>
    </li>
    {% endfor %}
{% endmacro %}