{%- macro render_field(field) -%}
    <div class="form__set">
        {{ field.label }}
        {{ field(**kwargs)|safe }}
        <div id="{{ field.id }}_flash" class="form__field--flash">
            {% if field.errors %}
            {% for error in field.errors %}
                <span>{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{%- endmacro -%}

{% macro render_submit(field) %}
    <div class="form__submit">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="form__alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {{ field(**kwargs)|safe }}
    </div>
{% endmacro %}